*, *:before, *:after {
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #dadada;
  font-size: 15px;
  display: block;
}

.emphasis {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

div {
  width: 90%;
  background-color: #dadada;
  display: inline-block;
  float: left;
  margin: 1% 0;
  width: 90%;
  padding: 2%;
  margin: 0%, 0%, 5%, 5%;
}


h1 {
  text-align: left;
  position: absolute;
}

@media screen and (min-width: 375px) {
  .preview {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1024px) {
  .preview {
      box-sizing: inline;
      width: 45%;
    }
  }

@media screen and (min-width: 1199px) {
    .preview {
        margin: 1% 0;
        width: 25%;
      }
}
